/************* SETTINGS ************/
body { 
    margin: 0;
    margin-top: 29px;
    padding: 0;
    font-family: 'TT Hoves';
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
} 

li {
    text-decoration: none;
}

li a {
    text-decoration: none;
}

/************ CONTAINER HEADER *************/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    height: 42px;
    margin-bottom: 40px;
}

.logo {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    Width: 70px;
    Height: 42px;
}

.border-up {
    background-image: url("images/border-detail.png");
    background-repeat: no-repeat;
    height: 2px;
    width: 68px;
    position: absolute;
    margin-left: 329px;
    margin-top: 10px;

}

nav {
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-right: 145px;
}

nav a{
    color: #333333;
}

.container-list-header{
    display: flex;
}

.container-list-header li{
    padding-left: 60px;
}
 
.border-low {
    background-image: url("images/border-detail.png");
    background-repeat: no-repeat;
    height: 2px;
    width: 68px;
    position: absolute;
    margin-left: 331px;
    margin-top: -14px;
}

/*********** CONTAINER TOTAL **************/

.container-total-page-three {
    max-width: 1170px;
    margin: 0 auto;
}

/******************* SECTION TITLE ******************/

.container-title-our-projects {
    width: 311px;
    height: 135px;
    margin-top: 86px;
}

.container-title-our {
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    color: #BDBDBD;
}

.container-title-projects {
    font-size: 64px;
    font-weight: bold;
    line-height: 64px;
    color: #333333;
}

/************* BORDER DETAIL *************/

.border-detail {
    border: 1px solid #F2F2F2;
    width: 100%;
    margin-top: 33px;
}

/******** SECTION SECONDARY SCHOOL *********/

.container-total-secondary-school {
    display: flex;
    width: 1170px;
    height: 435px;
    background: #FBFBFB;
    margin-top: 28px;
}

.container-image-school {
    width: 670px;
    height: 435px;
    background-image: url("images/image-school.png");
}

.container-total-text {
    width: 500px;
    height: 435px;
}

.container-total-title-secondary-school {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 500px;
    height: 160px;
}

.container-title-secondary-school {
    width: 440px;
    height: 100px;
    font-size: 40px;
    font-weight: 300;
    color: #BDBDBD;

}

.container-total-text-secondary-school {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 160px;
}

.container-text-secondary-school {
    width: 440px;
    height: 174px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #000000;
}

.container-total-look-secondary-school {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 110px;
}

.container-look-secondary-school {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 71px;
    background: #FFFFFF;
}

.container-text-look-secondary-school {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}

.container-arrow-look {
    width: 24px;
    height: 10px;
    background-image: url("images/icon/seta-direita.png");
    background-repeat: no-repeat;
}

/******** SECTION OFFICE INTERIOR PROJECT *********/

.container-total-office-interior-project {
    display: flex;
    width: 1170px;
    height: 435px;
    background: #FBFBFB;
    margin-top: 55px;
}

.container-image-office-interior-project {
    width: 670px;
    height: 435px;
    background-image: url("images/office-interior.png");
}

.container-total-text-office-interior-project {
    width: 500px;
    height: 435px;
}

.container-total-title-office-interior-project {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 500px;
    height: 160px;
}

.container-title-office-interior-project {
    width: 440px;
    height: 100px;
    font-size: 40px;
    font-weight: 300;
    color: #BDBDBD;

}

.container-box-text-office-interior-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 160px;
}

.container-text-office-interior-project {
    width: 440px;
    height: 174px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #000000;
}

.container-total-look-office-interior-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 110px;
}

.container-look-office-interior-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 71px;
    background: #FFFFFF;
}

.container-text-look-office-interior-project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}

.container-arrow-look {
    width: 24px;
    height: 10px;
    background-image: url("images/icon/seta-direita.png");
    background-repeat: no-repeat;
}

/******** SECTION PARKINKG CARS *********/

.container-total-parking-cars {
    display: flex;
    width: 1170px;
    height: 435px;
    background: #FBFBFB;
    margin-top: 55px;
}

.container-image-parking-cars {
    width: 670px;
    height: 435px;
    background-image: url("images/parking-cars.png");
}

.container-total-text-parking-cars {
    width: 500px;
    height: 435px;
}

.container-total-title-parking-cars {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 500px;
    height: 160px;
}

.container-title-parking-cars {
    width: 440px;
    height: 100px;
    font-size: 40px;
    font-weight: 300;
    color: #BDBDBD;

}

.container-box-text-parking-cars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 160px;
}

.container-text-parking-cars {
    width: 440px;
    height: 174px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #000000;
}

.container-total-look-parking-cars {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 110px;
}

.container-look-parking-cars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 71px;
    background: #FFFFFF;
}

.container-text-look-parking-cars {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    height: 24px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}

.container-arrow-look {
    width: 24px;
    height: 10px;
    background-image: url("images/icon/seta-direita.png");
    background-repeat: no-repeat;
}

/**************** SECTION NUMBER SLIDER *****************/

.container-slider {
    display: flex;
    margin-top: 103px;
    height: 55px;
    width: 400px;
}

.border-detail-left {
    border: 1px solid;
    width: 53px;
    height: 53px;
    color: #F2F2F2;
    margin-left: 27px;
}

.arrow-left {
    background-image: url("images/icon/seta-esquerda.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 23px;
    margin-left: 147px;
    width: 53px;
    height: 53px;
}

.arrow-right {
    background-image: url("images/icon/seta-direita.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 23px;
    margin-left: 230px;
    width: 53px;
    height: 53px;
}

.border-detail-right {
    border: 1px solid;
    width: 53px;
    height: 53px;
    color: #F2F2F2;
    margin-left: 26px; 
}

.container-number-slider {
    display: flex;
    font-size: 24px;
    font-weight: 200;
    color: #BDBDBD;
    width: 400px;
    height: 53px;
    margin-top: 66px;
}

.number-one {
    margin-right: 27px;
    margin-top: 11px;
    color: #333333;

}

.container-bar {    
    margin-top: 11px;
}

.number-two {
    margin-left: 27px;
    margin-top: 11px;
}

/********************* FOOTER ********************/

.container-footer-total {
    margin-top: 119px;
    width: 100%;
    height: 417px;
    background: #2C2C2C;
}

.container-footer {
    display: flex;
    max-width: 1169px;
    margin: 0 auto;
    height: 347px;
}

.container-logo {
    display: flex;
    justify-content: center;
    padding-top: 58px;
    width: 242px;
    height: 289px;
}

.container-logo-footer {
    width: 145px;
    height: 94px;
    background-image: url("images/logo-footer.png");
    background-repeat: no-repeat;
}

.container-information {
    display: flex;
    flex-direction: column;
    width: 259px;
    height: 306px;
    padding-top: 40px;
}

.container-title-information {
    padding-bottom: 27px;
}

.container-title-information a{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;
}

.container-list-information {
    line-height: 34px;
}

.container-list-information a{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.container-contact-total {
    width: 418px;
    height: 347px;
}

.container-contact-total ul{
    display: flex;
    flex-direction: column;
}

.container-list-contact-total {
    padding-top: 40px;
}

.container-title-contact {
    padding-bottom: 27px;
}

.container-title-contact a{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    
}

.container-place-address {
    display: flex;
}

.container-list-contact a{
    font-size: 14px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.container-image-place-icon {
    width: 35px;
    height: 16px;
    margin-top: 12px;
    background-image: url("images/icon/place-icon.png");
    background-repeat: no-repeat;
}

.container-phone-icon {
    display: flex;
}

.container-image-phone-icon {
    width: 35px;
    height: 16px;
    margin-top: 12px;
    background-image: url("images/icon/phone-icon.png");
    background-repeat: no-repeat;
}

.container-social-networks {
    width: 243px;
    height: 294px;
    padding-top: 53px;
}

.container-title-social-networks {
    font-size: 16px;
    font-weight: bold;
    margin-left: 39px;
    
}

.container-title-social-networks a{
    color: #FFFFFF;
}

.container-total-images-social-networks {
    width: 178px;
    height: 45px;
}

.container-images-social-networks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 40px;
    width: 180px;
    margin-left: 39px;
}

.container-image-facebook {
    width: 20px;
    height: 20px;
    background-image: url("images/icon/facebook-icon.png");
    background-repeat: no-repeat;
}

.container-image-twitter {
    width: 20px;
    height: 20px;
    background-image: url("images/icon/twitter-icon.png");
    background-repeat: no-repeat;
}

.container-image-linkedin {
    width: 20px;
    height: 20px;
    background-image: url("images/icon/linkedin-icon.png");
    background-repeat: no-repeat;
}

.container-image-pinterest {
    width: 20px;
    height: 20px;
    background-image: url("images/icon/pinterest-icon.png");
    background-repeat: no-repeat;
}

.border-detail-footer {
    border: 1px solid;
    width: 100%;
    opacity: 0.1;
    border: 1px solid #FFFFFF;
}

.container-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68px;
}

.container-text-copyright {
    width: 309px;
    height: 22px;
    font-size: 12px;
    color: rgba(200, 200, 200, 0.5);
}

